@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #a7aae1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.cover { 
  width: 350px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.music-container {
  display: flex;
  flex-direction: column; /* Menyusun durations di atas player */
  align-items: center; /* Menengahkan durations dan player secara horizontal */
}

.durations {
  width: 350px;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  border: 2px solid #ffcfcf;
}

.progress {
  width: 100%;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #f2aebb;
  outline: none;
  justify-content: center;
}
.progress::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00bcd4;
  cursor: pointer;
}

.player {
  width: 300px;
  background: #f5d3c4;
  padding: 20px;
  border-radius: 15px;
  border: 5px solid #f2aebb;
  box-shadow: none;
  text-align: center;
  margin: 0 auto 15px auto;
}


.cover img {
  width: 100%;
  border-radius: 10px;
}

.song-header {
  width: 350px;               
  height: 50px;             
  position: relative;       
  margin-bottom: 10px;
}

.song-header img {
  width: 100%;
  margin-top: 40px;
  margin-left: 17px;
  object-fit: cover;          
  border-radius: 8px;
}

.title {
  position: absolute;
  top: 130%; 
  left: 50%;
  transform: translate(-50%, -50%);  /* benar-benar center */
  font-size: 22px;
  font-weight: bold;
  font-family: "Pixelify Sans", sans-serif;
  
}

.song-title { 
  height: 40px;
  object-fit: fill;
  border-radius: 5px;
  left: 0;
  top: 0;
}



.artist {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 0;
  gap: 15px;
}
/*tombol kontrol*/
.control button {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0 10px;
}

button {
  background: none;
  border: none;
  padding: none;
}
/* tombol spesifik */
.btn-play {
  background-image: url("assets/play-button.png");
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
}

/* ketika play */
.btn-play.playing {
  background-image: url("assets/pause.png");
}

.btn-next {
  background-image: url("assets/next.png");
}

.btn-prev {
  background-image: url("assets/back.png");
}



button:active {
  box-shadow: none;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
